body {
  min-width: 1200px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #ffffff;
}

.main-header {
   margin-bottom: 82px;
   background-color: #eeeeee;
   color: #000000;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.mini-logo {
  float: left;
  width: 160px;
  margin-top: 50px;
  margin-right: 200px;
}

.mini-logo:hover {
  opacity: 0.8;
}

.mini-logo:active {
  opacity: 0.3;
}

.navigation {
  float: right;
  width: 800px; 
  margin-top: 74px;
}

.navigation ul {
  list-style: none;
  font-size: 0;
  padding-right: 0;
  padding-left: 0;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
  margin-right: 47px;
}

.navigation li:nth-child(4) {
   margin-right: 200px;
}

.navigation li:nth-child(5) {
   margin-right: 0;
}

.navigation a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
}

.navigation a:hover {
  color: #fb565a;
}

.navigation a:active {
  color: rgba(0,0,0, 0.3);
}

.navigation a.link-active {
  border-bottom: 2px solid #fb565a;
}

.basket {
  position: relative;
  max-width: 160px;
  padding-left: 85px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 45px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
  margin: 0 auto;
}

.slider-controls {
  position:absolute;
  width: 200px;
  height: 18px;
  bottom: 95px;
  left: 50%;
  text-align: center;
  margin-left: -100px;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 17px;
  background: white;
  vertical-align: top;
  border:3px solid white;
  border-radius: 50%;
  cursor: pointer;
  border: 7px solid white;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 560px;
  padding: 80px 0;
}

.slide-text h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  margin-bottom: 26px;
}

.slide-text:nth-child(3) h1 {
  padding-right: 130px;
}

.slide-text p {
  margin: 0; 
  margin-bottom: 40px;
}

.slide-text p:nth-child(2) {
  padding-right: 140px;
}

.slide-text p:nth-child(3) {
  padding-right: 240px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

.btn {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a; 
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 17px 53px;
  vertical-align: top;
  text-align: center;
  border-radius: 2px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255,255,255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 5px 0 -3px #c13135;
}

.features {
  padding-right: 60px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item img {
  margin-bottom: 28px;
}

.features-item h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
}

.features-item p {
  color: #283136; 
  padding-right: 20px; 
}

.features-item .btn {
  padding: 17px 40px;
  margin-top: 33px;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  color: rgba(255,255,255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0 5px 0 -3px #009958;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  color: rgba(255,255,255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0 5px 0 -3px #ce961f;
}

.index-content {
  padding-bottom: 75px;
  border-bottom: 2px solid #eeeeee;
}

.index-content-left {
  float: left;
  width: 660px;
  margin-top: 80px;
}

.index-content-left b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 34px;
}

.index-content-left p {
  color: #283136;
  padding-right: 40px;
  margin-bottom: 42px;
}

.index-content-left span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}

.index-content-left li {
  margin-bottom: 27px;
}

.index-content-left li:last-child {
  margin-bottom: 0;
}

.index-content-right {
  float: right;
  width: 360px;
  margin-top: 40px;
}

.index-content-right img {
  width: 360; 
  height: 208;
  margin-bottom: 37px;
}

.head {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
}

.advantages {
  width: 360px;
}

.advantages-name {
  float: left;
  width: 115px;
}

.advantages-name b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 25px;
}

.advantages-name span {
  display: block;
  font-size: 16px;
  line-height: 18px;
}

.examples {
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.example-1 {
  float: left;
  width: 199px;
  margin-left: 31px;
  margin-right: 96px;
  margin-top: 62px;
  margin-bottom: 50px;
} 

.example-2 {
  float: left;
  width: 209px;
  margin-right: 103px;
  margin-top: 46px;
  margin-bottom: 44px;
}

.example-3 {
  float: left;
  width: 185px;
  margin-right: 121px;
  margin-top: 64px;
  margin-bottom: 63px;
}

.example-4 {
  float: right;
  width: 173px;
  margin-right: 43px;
  margin-top: 52px;
  margin-bottom: 44px;
}

.examples-logo {
  opacity: 0.2;
}

.examples-logo:hover {
  opacity: 1;
}

.examples-logo:active {
  opacity: 0.1;
}

.map {
  padding: 54px 0;
  background: url("../img/map.jpg") no-repeat center;
}

.contacts {
  float: left;
  width: 319px;
  padding: 50px 48px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}

.contacts span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 20px;
}

.contacts .btn {
  padding: 18px 45px;
  margin-top: 36px;
}

.footer-social {
  padding: 70px 0;
}

.footer-social-left {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.social-btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  margin-right: 13px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #e1e1e1;
  border-radius: 40px; 
  position: relative;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -10px -446px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -172px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -214px;
}

.social-btn:hover {
  background: #e74246;
}

.social-btn:active {
  background: #d7373b;
  box-shadow: inset 0 5px 0 -3px #c13135;
}

.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before {
  opacity: 0.3;
}

.footer-social-right {
  float: right;
  width: 560px;
  margin-right: 200px;
}

.footer-social-right b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 13px;
}

.footer-social-right p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.catalog-header {
  background-color: #eeeeee;
  color: #000000;
}

.header-caption {
  width: 760px;
  margin-bottom: 117px;
  margin-right: auto;
  margin-left: auto;
}

.header-caption h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
}

.catalog-content-left {
  float: left;
  width: 260px;
  margin-right: 140px;
}

.price-header {
  display: block;
  margin-top: 58px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.range-filter {
  width: 260px;
  margin-bottom: 94px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background: #eeeeee;
  border-radius: 2px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 18px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background: #eeeeee;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.price-controls {
  position: relative;
}

.min-price {
  margin-right: 24px;
  position: absolute;
  left: 0;
  text-transform: uppercase;
}

.max-price {
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

.grid {
  margin-bottom: 50px;
}

.grid span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.radio,
.checkbox {
  list-style: none;
  font-size: 0;
  padding-left: 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] +label {
  display: block;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] +label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -255px;
  opacity: 0.4;
}

input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -300px;
}

input[type="radio"] +label:hover::before {
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] +label {
  display: block;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] +label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -45px;
  opacity: 0.4;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -88px;
}

input[type="checkbox"] +label:hover::before {
  opacity: 1;
}

.radio li:last-child
.checkbox li:last-child {
  margin-bottom: 0;
}

.characteristics span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.catalog-content-left .btn {
  padding: 18px 88px;
  margin-top: 52px;
  background: #eeeeee;
  color: #000000;
  font-weight: 500;
}

.catalog-content-left .btn:hover {
  background: #dfdfdf;
}

.catalog-content-left .btn:active {
  background: #d5d5d5;
  color: rgba(0,0,0 0.3);
  box-shadow: inset 0 5px 0 -3px #bfbfbf;
}

.catalog-content-right {
  float: right;
  width: 760px;
  margin-bottom: 60px;
}

.sorting {
  margin-bottom: 58px;
}

.sorting-header {
  float: left;
  width: 160px;
  margin-top: 62px;
  margin-right: 240px;
}

.sorting-header span {
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-selection {
  float: right;
  width: 360px;
  margin-right: 0;
  margin-top: 62px;
  position: relative;
}

.sorting-selection a {
  display: inline-block;
  text-decoration: none;
  color: rgba(0,0,0, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 26px;
}

.sorting-selection a:last-child {
   margin-right: 0;
}

.sorting-selection a:hover {
  color: rgba(0,0,0, 0.6);
}

.sorting-selection a:active {
  color: #000000;
}

.sorting-selection .sort-active {
  color: #000000;
}

.arrow-down::before,
.arrow-up::before {
  content: "";
  border: 10px solid #cccccc;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
  margin-top: 5px;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow-up::before {
  border-top-width: 0;
}

a.arrow {
  font-size: 0;
}

.arrow-down:hover::before,
.arrow-up:hover::before {
  background: #999999;
}

.arrow-down:active::before,
.arrow-up:active::before {
  background: #0f0f0f;
}


.catalog {
  margin-bottom: 60px;
}

.catalog-item {
  float: left;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
  margin-bottom: 40px;
}

.product-info {
  background: #eeeeee;
  width: 360px;
  color: #000000;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 43px; 
}

.product-info b {
  display: block;
  font-size: 18px; 
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.product-info a {
  text-decoration: none;
  color: #000000;
}

.product-info p {
  font-size: 16px; 
  line-height: 18px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0;
  color: #666666;
}

.catalog-item:nth-child(2) p,
.catalog-item:nth-child(5) p, 
.catalog-item:nth-child(6) p {
  padding-left: 60px;
  padding-right: 60px;
}

.product-info .catalog-btn {
  padding: 17px 60px;
  color: #ffffff;
  margin-top: 33px;
}

.product-info .catalog-btn: hover {
  background-color: #e74246;
}

.product-info .catalog-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 5px 0 -3px #c13135;
}

.pages-navigation {
  width: 460px;
}

.pages-navigation a {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  padding: 18px 0;
  box-sizing: border-box;
  background: #eeeeee;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
  border-radius: 2px;
}

.pages-navigation a:last-child {
   width: 255px;
}

.pages-navigation a:hover {
  background: #dfdfdf;
}

.pages-navigation a:active {
  background: #d5d5d5;
  color: rgba(0,0,0, 0.3);
  box-shadow: inset 0 5px 0 -3px #bfbfbf;
}

.pages-navigation .current {
  background: #ffffff;
  border: 3px solid #dbdbdb;
}




  













